@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;

html {
  @apply bg-gray-100;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  word-spacing: 1px;
}

html,
body,
#__nuxt,
#__layout {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

h1 {
  @apply text-4xl font-bold;
}

p {
  @apply mb-6;
}

a {
  @apply text-blue-500 font-bold;
}

li {
  @apply mb-2;
}

table,
td,
th {
  @apply border-2 border-black bg-white;
}

td,
th {
  @apply px-2 py-1;
}

th {
  @apply bg-black text-white font-black;
}

table {
  @apply w-full mb-6;
}
